services:
  php:
    image: wewendocker/taleroom:latest
    volumes:
      - .:/var/www
    working_dir: /var/www
    depends_on:
      - redis
      - neo4j

  nginx:
    image: nginx:latest
    container_name: nginx-symfony
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  neo4j:
    image: neo4j:5
    container_name: neo4jTaleRoom
    ports:
      - "7474:7474"   # Neo4j Browser
      - "7687:7687"   # Bolt
    environment:
      - NEO4J_AUTH=neo4j/test1234
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data: