{% extends 'base.html.twig' %}

{% block title %}Taleroom - Accueil{% endblock %}
{% block body %}
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">

    <!-- Logo central -->
    <div class="logotype-central mb-5">
        <img src="{{ asset('images/logo-home.png') }}" alt="TaleRoom" style="width: 200px;">
    </div>

    <!-- Row pour les boutons -->
    <div class="row w-100 justify-content-center mb-4">
        <div class="column justify-content-center mb-4">
            <!-- Créer Partie normale -->
            <div class="col-10 col-md-3 mb-3 d-flex justify-content-center">
                <a href="#" class=" btn-success btn-lg w-100 cta-box-button primary-cta-box ">
                    Créer<br><small>Partie normale</small>
                </a>
            </div>

            <!-- Créer Partie à branche -->
            <div class="col-10 col-md-3 mb-3 d-flex justify-content-center">
                <a href="#" class=" btn-success btn-lg w-100 cta-box-button primary-cta-box ">
                    Créer<br><small>Partie à branche</small>
                </a>
            </div>
        </div>
        <!-- Rejoindre une partie -->
        <div class="col-12 col-md-3 mb-3 d-flex flex-column align-items-center">
            <input type="text" class="form-control mb-2 text-center input-text" placeholder="Code d'invitation">
            <button class="btn btn-warning w-100">Enter</button>
        </div>
    </div>

</div>
{% endblock %}
