{% extends 'base.html.twig' %}

{% block title %}Résultat Histoire{% endblock %}
{% block body %}

        <!--barre de navegation-->
        <header class="main-header">
            <nav class="navbar navbar-expand-sm navbar-light p-4">
                <a href="http://localhost:8080/"><img src="{{ asset('images/TaleRoom(1).png')}}" alt="TaleRoom"></a>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-items user-profile">

                        <a class="nav-link" href="/profile">
                            <span class="user-name">{{nickname}}</span> 
                        </a>
                        
                    </li>
                </ul>    
            </nav>
        </header>

        <main class="hero-content-center d-flex ">
            
            <div class="container">
                <div class="row justify-content-center h-100 ">
                    <div class=" col-md-7 col-lg-7">
                        
                        <div class="card tale-room-card shadow">
                            <div class="card-body">

                                <h1 class="title-name" id="story-title"></h1>

                                <div class="scrollable-content">
                                    <div id="stories-created"></div>
                                </div>

                                <div class="text-center mt-3">
                                    <button class="btn tale-room-btn" id="next-story">Voir suivant</button>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    
                </div>                

            </div>
            
        </main>

<script>
    let currentIndex = 0;
    const stories = JSON.parse('{{ stories|e('js') }}');
    const storiesArray = Object.values(stories);
    console.log(storiesArray);
    const titleEl = document.getElementById('story-title');
    const containerEl = document.getElementById('stories-created');
    const nextBtn = document.getElementById('next-story');
    const nbStories = storiesArray.length-1;

    function renderStory(index) {
        if(index==nbStories){
            nextBtn.disabled = true;
            nextBtn.textContent = "Plus rien à lire ici...";
        }
            const story = storiesArray[index];
            console.log(story);

            titleEl.textContent = "Histoire n°".index;
            containerEl.innerHTML = '';
            story.forEach((script, i) => {
                const div = document.createElement('div');
                div.className = 'story-item mb-3 p-3';

                div.innerHTML = `
                    <h5 class="player-name">${script.name}</h5>
                    <p class="story-text mb-0">${script.text}</p>
                `;

                containerEl.appendChild(div);
            });
        
    }
    containerEl.classList.add('fade');
    setTimeout(() => containerEl.classList.remove('fade'), 300);


    // Bouton "suivant"
    nextBtn.addEventListener('click', () => {
        currentIndex = (currentIndex + 1);
        renderStory(currentIndex);
    });

    // Initialisation
    renderStory(currentIndex);
</script>      
        
{% endblock %}


