<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Twig</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <h1>Hello Twig Test Environment!</h1>
</body>
</html>
